<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phone.ktv">

    <!-- 设置权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera.flash" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activitys.FlashScreenActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!--主页面-->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--注册页面-->
        <activity
            android:name=".activitys.RegisterActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--登录页面-->
        <activity
            android:name=".activitys.LoginActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--忘记密码-->
        <activity
            android:name=".activitys.ForgetPsdActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--产品中心-->
        <activity
            android:name=".activitys.ProductRecyActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--设置-->
        <activity
            android:name=".activitys.SetUpActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--用户协议-->
        <activity
            android:name=".activitys.UserProtocolActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--修改密码-->
        <activity
            android:name=".activitys.ModifyPsdActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--点歌台分类(更多)-->
        <activity
            android:name=".activitys.songdesk_activitys.SongDeskjMoreActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--点歌台2级-->
        <activity
            android:name=".activitys.songdesk_activitys.SongDeskActivity2"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--点歌台3级-->
        <activity
            android:name=".activitys.songdesk_activitys.SongDeskActivity3"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--点歌台4级-->
        <activity
            android:name=".activitys.songdesk_activitys.SongDeskActivity4"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--排行榜分类(更多)-->
        <activity
            android:name=".activitys.rank_activitys.RankingMoreActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--排行榜歌曲-->
        <activity
            android:name=".activitys.rank_activitys.RankingListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" />
        <!--已点搜索-->
        <activity
            android:name=".activitys.already_activitys.AlreadySearchListActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <!--已点搜索2-->
        <activity
            android:name=".activitys.already_activitys.AlreadySearchListActivity2"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />

    </application>

</manifest>